@using PM_ASVN.Models
@model ListItemModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-folder font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase">List WorkGroup</span>
                </div>
            </div>
            <div class="portlet-body">
                @Html.Action("ChildList", "Item", new { model = Model })
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>