@using PM_ASVN.Models
@model IEnumerable<CommentModel>
@{
    Layout = null;
}
<style>
    

    .mt-comments .mt-comment {
        padding: 10px;
        margin: 0 0 10px;
    }

        .mt-comments .mt-comment:hover {
            background: #f9f9f9;
        }

        .mt-comments .mt-comment .mt-comment-body {
            padding-left: 20px;
            position: relative;
            overflow: hidden;
        }

            .mt-comments .mt-comment .mt-comment-body .mt-comment-info .mt-comment-author {
                display: inline-block;
                float: left;
                margin: 0 0 10px;
                color: #060606;
                font-weight: 600;
            }

            .mt-comments .mt-comment .mt-comment-body .mt-comment-info .mt-comment-date {
                display: inline-block;
                float: right;
                margin: 0;
                color: #BABABA;
            }

            .mt-comments .mt-comment .mt-comment-body .mt-comment-text {
                color: #999;
            }

            .mt-comments .mt-comment .mt-comment-body .mt-comment-details {
                margin: 10px 0 0;
            }

                .mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status {
                    text-transform: uppercase;
                    float: left;
                }

                    .mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status.mt-comment-status-pending {
                        color: #B8C0F5;
                    }

                .mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions {
                    display: none;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    float: right;
                }

        .mt-comments .mt-comment:hover .mt-comment-body .mt-comment-details .mt-comment-actions {
            display: inline-block;
        }

        .mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions > li {
            float: left;
            padding: 0 5px;
            margin: 0;
        }

            .mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions > li > a {
                text-transform: uppercase;
                color: #999;
            }
</style>
<div class="col-md-6 col-sm-12">
    <div class="portlet light ">
        
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="icon-bubbles font-blue"></i>
                <span class="caption-subject font-dark bold uppercase">Comments</span>
            </div>
           
        </div>

        <div class="portlet-body" style="height: 172px; overflow-y: scroll;">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_comments_1">
                    <!-- BEGIN: Comments -->
                    <div class="mt-comments">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="mt-comment">
                                    <div class="mt-comment-body">
                                        <div class="mt-comment-info row">
                                            <div class="col-md-8"><span class="mt-comment-author">@item.Name</span></div>
                                            <div class="col-md-4"><span class="mt-comment-date">@item.CreateDate.ToString("ddd, MMM d, yyyy")</span></div>
                                        </div>
                                        <div class="mt-comment-text">@item.Text</div>

                                    </div>
                                </div>
                            }
                        }
                        
                    </div>
                    <!-- END: Comments -->
                </div>
            </div>
        </div>
        <hr/>
         @using (Html.BeginForm("ManageComment", "Item", FormMethod.Post, new { @class = "form-horizontal" }))
         {
            <div class="" style="width: 100%;">
                <input type="text" name="comment.IDItemParent" value="@Request["Data.ID"]" style="width: 100%;" hidden/>
            </div>
            <div class="" style="width: 100%;">
                <textarea name="comment.Text" style="width: 100%;" placeholder="Add a comment..."></textarea>
            </div>
            <div style="text-align:right; padding-bottom: 5px;">
                <input type="submit" class="btn blue" value="POST" />
            </div>
         }
    </div>
</div>