@using PM_ASVN.Models
@model ListItemModel
@{
    ViewBag.Title = "ChildList";
}

<a style="margin-top: 20px" class="btn btn-primary" href="/Table/">+ Add New Test Case</a>
@Html.Action("ChildList", "Item", new { model = Model })

