
@using PM_ASVN.Models
@model ItemModel
@{
    ViewBag.Title = "Index Feature";
}

@Html.Action("ManageItem", "Item", new { model = Model })
@if (Model.Data.ID > 0)
{
    int PageIndex = 1;
    if (Request.QueryString["pageindex"] != null)
    {
        PageIndex = Convert.ToInt32(Request.QueryString["pageindex"].ToString());
    }

    var Type = Enum.GetName(typeof(Types), Model.Data.Type);

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="tabbable-custom ">
                        <ul class="nav nav-tabs" id="nav-tabs">
                            <li id="feature">
                                <a href="@Type?Data.ID=@Model.Data.ID&tab=feature"> List Feature </a>
                            </li>
                            
                        </ul>
                        <div class="tab-content">

                            @if (@Request.QueryString["tab"] == "feature" | @Request.QueryString["tab"] == null)
                            {
                                <div class="tab-pane active">
                                    <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="dataTables_length" id="sample_1_length">

                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div id="sample_1_filter" class="dataTables_filter">
                                                    <a data-action="add_more" class="btn blue" href="Item/SelectChild?type=@Html.Raw((int)Types.Feature)&parentId=@Html.Raw(Model.Data.ID)&FilterParentId=@Session["IDTicket"]&iframe=true" style="float:right">+ Add More Feature</a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                       @Html.Action("ChildList", "Item", new { model = new ListItemModel() { ParentId = Model.Data.ID, Type = Types.Feature, Edit = false, PageIndex = PageIndex } })
                                    </div>
                                </div>
                            }
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

}
<div id="modal_more" class="modal fade bs-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only"></span>
                </button>
                <h4 class="modal-title">Add More</h4>
            </div>
            <div class="modal-body">
                <iframe frameborder="0" style="width: 100%; min-height: 450px" id="iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '.blue', function () {
        var $action = $(this).data("action");
        if ($action == "add_more") {
            $('#iframe').attr('src', $(this).attr("href"));
            $('#modal_more').modal('show');
            return false;
        }
    });

    $(function () {
        $("#nav-tabs > li").each(function () {
            var type = location.search.split("tab=")[1];
            if (type == null) {
                $("#nav-tabs li:first-child").addClass("active");
            }
            else {
                var type2 = type.split("&")[0];
                var id = $(this).attr("id");
                if (id == type2) {
                    $(this).addClass('active');
                }
            }
        });
    });
</script>


