@using PM_ASVN.Models
@model ListItemModel
@{
    ViewBag.Title = "Store";
}
<a style="margin-top: 20px" class="btn btn-primary" href="/DataColumn/">+ Add New Column</a>
@Html.Action("ChildList", "Item", new { model = Model })